                    <section class="slice-sm sct-color-1 border-top border-bottom">
                        <div class="container">
                            <div class="row cols-xs-space cols-sm-space cols-md-space">
                                <div class="col-lg-4 b-lg-right">
                                    <div class="px-3 py-3 text-lg-center">
                                        <h3 class="heading heading-6 strong-500">Free shipping in 48/72H</h3>
                                        <p class="c-gray-light line-height-1_6">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
                                        </p>
                                    </div>
                                </div>

                                <div class="col-lg-4 b-lg-right">
                                    <div class="px-3 py-3 text-lg-center">
                                        <h3 class="heading heading-6 strong-500">Free returns</h3>
                                        <p class="c-gray-light line-height-1_6">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
                                        </p>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="px-3 py-3 text-lg-center">
                                        <h3 class="heading heading-6 strong-500">Secure payment</h3>
                                        <ul class="inline-links mt-2">
                                            <li>
                                            <%= image_tag "visa.png", width: "30", class: "img-grayscale" %>
                                            </li>
                                            <li>
                                                <%= image_tag "mastercard.png", width: "30", class: "img-grayscale" %>
                                            </li>
                                            <li>
                                                <%= image_tag "maestro.png", width: "30", class: "img-grayscale" %>
                                            </li>
                                            <li>
                                                <%= image_tag "paypal.png", width: "30", class: "img-grayscale" %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>