<section class="slice sct-color-1">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center mb-3">
                                <h3 class="section-title-inner heading-6 strong-600 text-uppercase ls-2">
                                    <span>Featured Cats</span>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 font-custom-4 text-center">
                                Discover the best cat pics on the web !
                            </div>

                            <span class="space-xs-md"></span>

                            <div class="masonry-container">
                                <div class="row row-cols-gutter-xs masonry">
                                    <div class="masonry-item col-md-6">
                                        <div class="card bg-minimalist">
                                            <div class="card-image">
                                                <a href="#">
                                                    <%= image_tag "Scottish-Fold_01.jpg" %>
                                                </a>
                                            </div>
                                            <div class="card-body--overlay d-flex align-items-start">
                                                <div class="col">
                                                    <div class="px-4 py-4">
                                                        <h3 class="heading heading-4 strong-500 mb-0 text-white">
                                                            Cute cats
                                                        </h3>
                                                        <a href="#" class="link link-xs link--style-3 text-capitalize">
                                                            link
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="masonry-item col-md-6">
                                        <div class="card bg-minimalist">
                                            <div class="card-image">
                                                <%= image_tag "cats-animals-kittens-background.jpg" %>
                                            </div>
                                            <div class="card-body--overlay d-flex align-items-start">
                                                <div class="col">
                                                    <div class="px-4 py-4">
                                                        <h3 class="heading heading-4 strong-500 mb-0">
                                                            Kittens
                                                        </h3>
                                                        <a href="#" class="link link-xs link--style-3 text-capitalize">
                                                            link
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="masonry-item col-md-6">
                                        <div class="card bg-minimalist">
                                            <div class="card-image">
                                                <a href="#">
                                                    <%= image_tag "502332-iStock-520546640.jpg" %>
                                                </a>
                                            </div>
                                            <div class="card-body--overlay d-flex align-items-start">
                                                <div class="col">
                                                    <div class="px-4 py-4">
                                                        <h3 class="heading heading-4 strong-500 mb-0 text-white">
                                                            Jungle cats
                                                        </h3>
                                                        <a href="#" class="link link-xs link--style-3 text-capitalize">
                                                            link
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="masonry-item col-md-6">
                                    <div class="card bg-minimalist">
                                        <div class="card-image">
                                            <%= image_tag "26907788_1614183255284072_4356465325754439623_n.jpg" %>
                                        </div>
                                        <div class="card-body--overlay d-flex align-items-start">
                                            <div class="col">
                                                <div class="px-4 py-4">
                                                    <h3 class="heading heading-4 strong-500 mb-0 text-muted">
                                                        Grumpy cat
                                                    </h3>
                                                    <a href="#" class="link link-xs link--style-3 text-capitalize">
                                                        link
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </section>