<section class="slice sct-color-1">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center">
                                <h3 class="section-title-inner heading-6 strong-600 text-uppercase ls-2">
                                    <span>Minimal news</span>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <div class="row cols-xs-space cols-sm-space cols-md-space card-flip-container">
                                <div class="col-lg-3 col-md-6">
                                    <div class="card-flip" data-flip-trigger="hover">
                                        <div class="card-front">
                                            <div class="card-image">
                                                <%= image_tag "mrstabithascatsacademylondonernestnister1892cthebritishlibraryboard.jpg" %>
                                            </div>
                                        </div>

                                        <div class="card-back">
                                            <div class="card-body card-body--overlay d-flex">
                                                <div class="card-body-inner">
                                                    <small class="c-gray-light">By Brigit Katz
                                                    November 26, 2018 at 4:17PM</small>
                                                    <h4 class="heading heading-6 strong-500 mt-2 mb-4">Cats in Literature? It’s a Long Tail</h4>
                                                    <p class="text-sm c-gray-light line-height-1_6">
                                                    A new exhibition at the British Library explores how cats have inspired—and frightened—writers across the centuries ...
                                                     <a ref="https://www.smithsonianmag.com/smart-news/cats-literature-its-long-tail-180970891/" class="link link-sm link--style-2">Read more</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <div class="card-flip" data-flip-trigger="hover">
                                        <div class="card-front">
                                            <div class="card-image">
                                                <%= image_tag "16354914-high_res-dynasties-887e35a.jpg" %>
                                            </div>
                                        </div>

                                        <div class="card-back">
                                            <div class="card-body card-body--overlay d-flex">
                                                <div class="card-body-inner">
                                                    <small class="c-gray-light">By Thomas Ling
                                                     Monday, 26th November 2018 at 11:04 am</small>
                                                    <h4 class="heading heading-6 strong-500 mt-2 mb-4">11 cats (and a few dogs) that LOVED Dynasties’ Lion episode</h4>
                                                    <p class="text-sm c-gray-light line-height-1_6">
                                                    David Attenborough's recent documentary was purr-fect feline viewing...
                                                    <a href="https://www.radiotimes.com/news/tv/2018-11-26/11-cats-and-a-few-dogs-that-loved-dynasties-lion-episode/" class="link link-sm link--style-2">Read more</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <div class="card-flip" data-flip-trigger="hover">
                                        <div class="card-front">
                                            <div class="card-image">
                                                <%= image_tag "5bed88cd48eb12694007b965-1920-1440.jpg" %>
                                            </div>
                                        </div>

                                        <div class="card-back">
                                            <div class="card-body card-body--overlay d-flex">
                                                <div class="card-body-inner">
                                                    <small class="c-gray-light">Monday, 26th November 2018, Michelle Larkin at 17h</small>
                                                    <h4 class="heading heading-6 strong-500 mt-2 mb-4">11 dream jobs for people who love cats</h4>
                                                    <p class="text-sm c-gray-light line-height-1_6">
                                                    Loving cats doesn't have to stop when you leave for work. There are many ways to turn your passion for felines into a full-fledged career with one of these cat-centric jobs...
                                                    <a href="https://www.thisisinsider.com/jobs-cat-lovers-2018-11" class="link link-sm link--style-2">Read more</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <div class="card-flip" data-flip-trigger="hover">
                                        <div class="card-front">
                                            <div class="card-image">
                                                <%= image_tag "c1.jpg" %>
                                            </div>
                                        </div>

                                        <div class="card-back">
                                            <div class="card-body card-body--overlay d-flex">
                                                <div class="card-body-inner">
                                                    <small class="c-gray-light">Cassandra Stone
                                                    Jan 24, 2018</small>
                                                    <h4 class="heading heading-6 strong-500 mt-2 mb-4">Cat Brings Enormous Live Rat Into House, Mom Freaks, Epic Hilarity Ensues</h4>
                                                    <p class="text-sm c-gray-light line-height-1_6">
                                                    Watch this family deal with a live rat in their house and try not to die laughing
                                                    <a href="https://www.scarymommy.com/facebook-jessica-gottlieb-cat-rat/" class="link link-sm link--style-2">Read more</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>